
.info-box  .news .words{
    width: 215px !important;}
#academic .news .words{
    width: 250px !important;}
#schoolInfo .news .words{
    width: 250px !important;}
#news .news .words{
    width: 220px !important;}
a:hover{
	cursor: pointer
;}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    top: -8px;}
  100% {
    opacity: .8;
    top: 0;}
}
@-moz-keyframes slideDown {
  0% {
    opacity: 0;
    top: -8px;}
  100% {
    opacity: .8;
    top: 0;}
}
@keyframes slideDown {
  0% {
    opacity: 0;
    top: -8px;}
  100% {
    opacity: .8;
    top: 0;}
}


.info-box .title {
  height: 46px;
  margin-bottom: 13px;
  overflow: hidden;
  zoom: 1;
  position: relative;
  border-bottom: 1px solid #00c896;}
.info-box .title h1 {
  font: normal normal 18px '寰蒋闆呴粦', '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei';
  float: left;
  margin-top: 14px;}
.info-box .title .more {
  font-size: 13px;
  font-weight: normal;
  color: #b2b2b2;
  line-height: 60px;
  float: right;}
.info-box .title a {
  color: #000000;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  transition: color .2s;}
.info-box .title a:hover {
  color: #a13636;}
.info-box .title .triangle {
  position: absolute;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent;
  border-bottom: 6px solid #00c896;
  left: 40px;
  top: 42px;
  height: 0;
  width: 0;
  -webkit-transition: left .2s;
  -moz-transition: left .2s;
  transition: left .2s;}
.list-box .news {
  display: block;
  height: 24px;
  text-indent: 10px;
  border-bottom: 1px solid #dcdcdc;
  background: url(https://www.cqupt.edu.cn/dfiles/13011/cqupt/img/dot.jpg) center left no-repeat
;}
.list-box .news:hover {
  background: #f1f1f1;}
/*.list-box .news:first-child {
  border: none;}*/
.list-box .news .words {
  line-height: 24px;
    display: block;
    height: 100%;
    width: 190px;
    overflow: hidden;
  color: #666666;
  float: left;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  transition: color .2s;}
.list-box .news .words:hover {
  color: #474747;}
.list-box .news .time {
  line-height: 24px;
  color: #b2b2b2;
  float: right;}

body {
  margin: 0;
  font-size: 13px;
  font-family: '瀹嬩綋', '\5b8b\4f53', 'SimSun';}
.banner {
  height: 310px;
  background: #f3f3f3;}
.banner .wrap {
  position: relative;}
.banner img {
  width: 990px;
  height: 310px;}
.banner .banner_inner ,#banner_slider{
  position: relative;
    height: 310px;}
#banner_slider{
    z-index: 1;}

.nivo-controlNav {
    position: absolute;
    right: 0;
    bottom: -20px;}

.nivo-controlNav a {
    text-indent: -2000px;
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 6px;
  background: url(https://www.cqupt.edu.cn/dfiles/13011/cqupt/img/banner/controller.jpg) -18px 0 no-repeat;}

.leftbox {
  width: 352px;}
.rightbox {
  width: 298px;}
.news {
  height: 207px;}
.may-iframe {
  width: 692px;
  float: left;}
.ads {
  position: relative;
  margin-top: 49px;
  width: 261px;
  height: 163px;
  z-index: 10009;}
#ads_slider {
  height: 100%;}

.pic__photo {
  width: 183px;
  height: 137px;}
.pic__detail {
  margin-left: 194px;}
.pic__detail p {
  color: #878787;
    margin:0;
  line-height: 24px;}
.pic__detail .pic__title {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    color: #000000 ;
    display: block;}
.pic__detail .pic__title:hover{
    color: blue;}
.links {
  margin-right: 5px;
  position: relative;
  z-index: 1000;}
.links .select {
  display: block;
  width: 74px;
  height: 22px;
  text-align: center;
  margin-top: 12px;
  position: relative;
  color: #bdf1e4;
  line-height: 22px;
  font: normal normal 14px '寰蒋闆呴粦', '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei';
  cursor:pointer;}
.links .select li {
  text-align: left;}
.links .select._s1 {
  margin: 0;}
.links .select a {
  color: white;
  font-size: 12px;}
.links .select ul {
  list-style: none;
  background: #00c896;
  margin: 0;
  opacity: .9;
  position: absolute;
  z-index: 1001;
  zoom: 1;
  left: 0;
  min-width: 220px;
  display: none;
  left: 74px;}
.links .select ul li {
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  white-space: nowrap;}
.s-links {
  text-align: left;
  position: relative;
  top: -3px;
  *top: -5px;}
.s-links tr {
  height: 22px;}
.s-links td a {
  padding-left: 3px;}
.s-links td:first-child a {
  padding: 0;}
.s-links td:hover {
  background: #f1f1f1;}
.s-links td:hover a {
  color: #000000;}